h1{
    color:green ;
}
p{
    color: gray;
}
h1{
    color:green ;
}
p{
    color: gray;
}
h1{
    color:green ;
}
p{
    color: gray;
}
h1{
    color:green ;
}
p{
    color: gray;
}

h1{
    color:green ;
}
p{
    color: gray;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
}
h2{
    background-color: aliceblue;
}
h1{
    color:green ;
}
p{
    color: gray;
}

h1{
    color:green ;
}
p{
    color: gray;
}

