/* specificity */

/* universal selector  */
/* 0,0,0 */

/* id selector- 100 */
/* 1,0,0 */
/* class selector, attribute selector, pseudoclasses-10 */
/* 0,1,0 */
/* element selector, pseudo elements */
/* 0,0,1 */

p div {
  color: red;
}

/* 0,0,1 */
/* 0,0,1 */
/* ? 0,0,2*/

p.class-1 {
  color: blakc;
}

#some-id .class1 .class2 div > .class-3 #some-id2[href$=".com"] {
  color: black;
}
/* 1,0,0 */
/* 0,1,0 */
/* 0,1,0 */
/* 0,0,1 */
/* 0,0,1 */
/* 0,1,0 */

/* ?1,3,2 */
