/* in-line */
/* 1,0,0,0 */
/* internal or external */
/* universal selector */
/* 0,0,0,0 */
/* browser defaults */

/* specificity */
/* html elements - 1 */
/* p {
  color: orange;
  font-size: large;
  border: 2px solid black;
}

div {
  color: green;
  font-size: medium;
  border: 1px solid black;
} */
/* 0,0,0,1 */

/* class 10 */

/* .class-selector {
  color: red;
  font-size: small;
  border: 1px solid black;
} */

/* 0,0,1,0 */

/* id - 100 */
/* #id-selector {
  color: purple;
  font-size: x-large;
  border: 3px solid black;
} */

/* 0,1,0,0 */
/* #p-id {
  color: rgb(4, 255, 0);
} */
/* p {
  color: red;
} */
/* 0,0,0,1 */
/* p {
  color: black;
} */
/* 0,0,0,1 */

/* .random-class {
  color: blue;
} */
/* .p-class {
  color: green;
} */
/* 0,0,1,0 */

/* 0,1,0,0 */

p {
  color: red;
}
/* 0,0,0,1 */

/*  */
body p {
  color: gray;
}
/* 0,0,0,2 */

div p {
  color: blue;
}

/* 0,0,0,2 */

body div p {
  color: black;
}
/* 0,0,0,3 */

body .some-class p {
  color: yellow;
}
/* 0,0,1,2 */

/* pseudo-classes:10 */

body .some-class p:hover {
  color: rgb(109, 95, 160);
  cursor: pointer;
}
/*0,0,2,2  */

p.combined-selector {
  color: violet;
}
/* 0,0,1,1 */

/* pseduo-elements:1 */
h2 {
  color: red;
}
/* 0,0,0,1 */
body h2::first-letter {
  color: rgb(4, 4, 19);
}
/* 0,0,0,3 */

h2::first-letter {
  color: blue;
}
/* 0,0,0,2 */

/* attribute-selector 10 */
